/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

/*------Menu------*/
header {
    padding: 5px 4%;
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, #d6d9fd, #3044fc) 1;
}

.Menu_Principal {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    flex: 1;
    display: flex;
    justify-content: center;
}

header .menu-desktop ul {
    list-style: none;
}

header .menu-desktop ul li {
    display: inline-block;
    position: relative;
}

header .menu-desktop a {
    color: black;
    display: inline-block;
    transition: .2s;
    padding: 20px;
    text-decoration: none;
}

header a:hover {
    color: #242222;
    transform: scale(1.05);
}

.drop-hover {
    position: relative;
}

.drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    width: 100%;
}

.drop a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    width: 100%;
}

.drop a:hover {
    background-color: #f1f1f1;
}

/* Mostrar o dropdown ao passar o mouse */
.drop-hover:hover .drop {
    display: block;
}

/* Estilo para a seta */
.drop-hover > a {
    display: flex;
    align-items: center;
}

.drop-hover > a .bi {
    margin-left: 5px;
    transition: transform 0.2s;
}

.drop-hover:hover > a .bi {
    transform: rotate(180deg);
}

/* Menu ONU  */

.menu-onu {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 4%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    margin: 20px 0;
}

.onu {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(16.666% - 40px);
    min-width: 150px;
}

.quantidade-onu {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.quantidade {
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
}

.onu i {
    font-size: 40px;
}

/* Menu ONU  FIM*/